.chat_screen
  .chat_screen__content
    - @messages.each do |message|
      %p.chat_screen__content--name
        = message.user.name
      %p.chat_screen__content--date
        = message.create_time
      %p.chat_screen__text
        = message.content
      %p.chat_screen__image
        = image_tag message.image.url if message.image.present?


