= render 'devise/shared/side_bar'
/ ヘッダー部分
/ .main_screen_wrapper
.main_screen
  .group_name_screen
    .group_name_screen__content
      %p.group_name_screen__content--name
        = @group.name
      %p.group_name_screen__content--edit_button edit
      %p.group_name_screen__members Members: メンバー1、メンバー2、メンバー3
  / チャット表示部分
  = render 'messages/message'
  / フッター部分
  = render 'messages/footer'
